.page-empire .table {
	min-width: 65%;
	width: auto;
}

.page-empire {
	max-width: 785px;
}

@media (min-width: 1200px) and (max-width: 1600px)
{
	.page-empire {
		max-width: 660px;
	}
}

@media (min-width: 480px) and (max-width: 1200px)
{
	.page-empire {
		max-width: 630px;
	}
}